<td>{{#link-to 'user' user.id}}{{user.name}}{{/link-to}}</td>
<td>{{user.username}}</td>
<td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
<td>
  <div>{{user.address.street}} {{user.address.suite}}</div>
  <div>{{user.address.city}}, {{user.address.zipcode}}</div>
</td>
